<h1 class="display-2">My Transactions</h1>

<div class="row">
  <div class="col">
    <!-- <status-filter [status]="selectedStatus" (onChange)="onFilterChange($event)"></status-filter> -->
    <!-- Selected filter: {{selectedStatus}} -->

    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Type</th>
          <th scope="col">Date</th>
          <th scope="col">Quantity</th>
          <th scope="col">Comment</th>
          <th scope="col">Picture</th>
          <th scope="col">User</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transaction of filteredTransactions">
          <td scope="row">{{ transaction.id }}</td>
          <td>{{ transaction.title }}</td>
          <td>
            <!-- <a  [routerLink]="['/issues', issue.id]" {{ issue.description }}</a> -->
              <a> {{ transaction.types }}</a>
          </td>
          <td>{{ transaction.dates }}</td>
          <td>{{ transaction.quantity }}
            <!-- <a mat-icon-button [routerLink]="['/issues', issue.id, 'edit']">
              <mat-icon>edit</mat-icon>
            </a> -->
            <!-- <button mat-icon-button color="warn">
              <mat-icon>delete</mat-icon> -->
            <!-- </button> -->
          </td>
          <td>{{ transaction.comment}}</td>
          <td>{{ transaction.picture}}</td>
            <td>{{ transaction.updater}}</td>
        </tr>
      </tbody>
    </table>
    <!-- <a mat-raised-button color="primary" routerLink="/issues/new">New issue</a> -->
  </div>
</div>